/**
 * Site-wide Mixins.
 * Reusable patterns that apply to many different portions of the stylesheet.
 **/

@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  animation: #{$str};
}

/**
 * Site-wide style variables
 *
 * Includes:
 * - Font
 * - Colors
 * - Gradients
 * - Animations
 * - Element Sizing
 **/

@import url('https://fonts.googleapis.com/css?family=Lato:300,400');
$font: 'Lato', sans-serif;
$font-size: 14px;

$color-primary:       #B700FF;
$color-primary-dark:  #610084;
$color-magenta:       #B30090;
$color-magenta-dark:  #5B0049;
$color-magenta-light: #FEBCF1;
$color-blue:          #007AB3;
$color-blue-dark:     #003E5A;
$color-blue-light:    #AEE0FE;
$color-dark:          #2A202A;
$color-light:         #FFFAFF;

$gradient-top:
  radial-gradient(circle at left, $color-magenta-light -50%, transparent),
  radial-gradient(circle at right, $color-blue-light -50%, transparent);
$gradient-magenta: linear-gradient(0.9turn, $color-magenta 0%, $color-primary 100%);
$gradient-blue: linear-gradient(0.9turn, $color-primary 0%, $color-blue 100%);

@include keyframes(bkgColor) {
  0% {
    background-color: $color-light
  }
  50% {
    background-color: mix($color-primary, $color-light, 20%)
  }
  100% {
    background-color: #fff;
  }
}

$header-height: 200px;

$width-small: 320px;
$width-medium: 760px;
$width-large: 1000px;

/*
 * Default Classes
 */
body {
  display: block;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  border: 0;
  background: $color-light;
  color: $color-dark;
  font-size: $font-size;
  font-family: $font;
}

.site-container {
  display: block;
  width: $width-large;
  margin: 0 auto;

  @media screen and (min-width: $width-small) {
    width: auto;
  }
  @media screen and (min-width: ($width-medium + 100px)) {
    width: $width-medium;
  }
  @media screen and (min-width: ($width-large + 100px)) {
    width: $width-large;
  }
}

/*
 * Default link style, for use on default background which is light color
 */
a {
  color: $color-primary;
  text-decoration: none;
}
a:hover, a:visited {
  text-decoration: $color-primary-dark;
}

/*
 * Navigation menu classes
 */
.nav {
  position: absolute;
  background-color: rgba(255,255,255,0.0);
  height: 100px;
  width: 100vw;
  z-index: 10;

  &-container {
    @extend .site-container;
    //border-bottom: 1px solid $color-primary-dark;
    height: 100px;
    display: flex;
    justify-content: space-between;
    color: $color-primary-dark;
  }
  &-title {
    height: 50px;
    padding: 20px 10px;

  }
  &-list {
    text-decoration: none;
    list-style-type: none;
    vertical-align: bottom;
    padding: 20px 10px;

    li {
      font-weight: 300;
      font-size: 1.4em;
      display: inline;
      padding: 5px;

      a {
        color: $color-primary-dark;
      }
      a:hover {
        color: $color-primary;
      }
    }
  }
}

/*
 * Website Top Header classes
 */
.header {
  display: block;
  min-height: $header-height;
  height: auto;
  background-color: $color-light;

  &-container {
    background: $gradient-top;
    color: $color-light;
    // text-align: center;
    // padding-top: 40px;
    // padding-bottom: 40px;
    min-height: ($header-height - 80px);
    height: auto;
  }

  &--fullscreen {
    height: 100vh;

    @include animation('bkgColor 3s linear 1s infinite alternate');

    &-container {
      padding-top: 40vh;
      height: 60vh;
      padding-bottom: 0vh;
    }
  }
  &--icon-cluster-image {
    background-image: url('../icons/icon-cluster.svg');
    background-repeat: repeat-y;
    background-size: cover;
    right: 0;
    width: 40vw;
    height: 100vh;
    z-index: 0;
    position: absolute;
  }
  &--icon {
    height: 100px;
    display: inline-block;
    vertical-align: middle;
    padding: 10px 20px;
  }
  &--text {
    display: inline-block;
    line-height: 1.4em;
    font-size: 3em;
    font-weight: 300;
    padding: 0 5px;
    text-align: left;
  }
}

/*
 * Website section classes
 */
.section {
  padding: 50px 25px;
  color: #392F62;

  &-container {
    @extend .site-container;
    padding: 20px 50px;
    p {
      line-height: 1.6em;
      font-weight: 300;
    }
  }
  &-space-killer {
    margin-top: -50px;
  }
  &-header-image {
    padding: 20px;
    height: 120px;
  }
}

/*
 * Cards
 * Used to display small bits of text and media side by side in a row.
 */
.card {
  display: flex;
  justify-content: space-between;

  &-single {
    width: 25%;
    border: 2px solid $color-magenta-dark;
    padding: 20px;
    margin: 20px 0px;
  }

  &-body {
    h1 {
      font-weight: 100;
    }
    p {
      font-weight: 400;
    }
  }

  &--type-skill {
    //border-image: $gradient-magenta;
  }
  &--type-work {
    color: #ddd;
    /* background-color: #392F62; */
    //border-image: $gradient-blue;
  }

}

/*
 * Section specific styles
 */
#about {
  background: $gradient-blue;
  color: $color-light;
}
